#header
  = link_to  image_tag("../images/adminlogo.png", :class => 'adminlogo'), :controller => :admin, :action => :index


// This is menu bar.. can be used later if needed

//  <div id="admin-menu">
//    <ul>
//      <li><%= link_to("Home", {:controller => :admin, :action => :index}) %></li>
//      <li>||</li>
//      <li><%= link_to("Add Domain", {:controller => :admin, :action => :index}) %></li>
//      <li>||</li>
//      <li><%= link_to("Edit Domain", {:controller => :admin, :action => :index}) %></li>
//      <li>||</li>
//      <li><%= link_to("Remove Domain", {:controller => :admin, :action => :index}) %></li>
//    </ul>
//  </div>